<ion-content class="fondologin">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Lorem ipsum</h1>
      <p>Sign in to continue</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item class="inputColor">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button">Log in</ion-button>
      <p>Forgot password?</p>
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/registro">Sign up</ion-button>
    </div>
  </div>
</ion-content>
