<ion-content>
  <div class="top-section ion-padding">
    <div class="title">
      <h2>SmartProtect</h2>
      <ion-select
        value="mexico"
        interface="action-sheet"
        placeholder="Selecciona una"
      >
        <ion-select-option
          value="mexico"
        >Mexico</ion-select-option>
        <ion-select-option
          value="honduras"
        >Honduras</ion-select-option>
      </ion-select>
    </div>
    <div class="sub-title">
      <h3>Estas en peligro?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="action-buttons">
      <ion-button class="call">
        <ion-icon name="call"></ion-icon> Llama ahora
      </ion-button>
      <ion-button class="sms">
        <ion-icon name="chatbubble"></ion-icon> Envia SMS
      </ion-button>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <h3>Lorem</h3>
    <div class="content">
      <ion-row>
        <ion-col size="4">
          <img src="/assets/img/img4.svg" alt="">
          <p>lorem ipsum</p>
        </ion-col>
        <ion-col size="4">
          <img src="/assets/img/img2.svg" alt="">
          <p>lorem ipsum</p>
        </ion-col>
        <ion-col size="4">
          <img src="/assets/img/img3.svg" alt="">
          <p>lorem ipsum</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="bottom-section ion-margin">
    <img src="/assets/img/undraw_woman_ffrd.svg" alt="">
    <div class="content">
      <h3>Lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</ion-content>
