
<ion-content class="fondologin">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Crea tu cuenta!</h1>
      <p>La seguridad cada vez mas cerca de nosotras!</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="call-outline"></ion-icon>
        <ion-item class="inputColor">
          <ion-label position="floating">Telefono</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item class="inputColor">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="key-outline"></ion-icon>
          <ion-item class="inputColor">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button" routerLink="/gracias">Sign up</ion-button>
    </div>
  </div>
</ion-content>